@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    function log() {
        window.location = '@Url.Action("GetLoginPage","Home")';
    }
</script>

<div><h1><b>@ViewBag.UserName</b></h1></div>
<input type="button" name="log" id="log" value="log" onclick="log()" />